.body {
    font-family: "Times";
}
.container {
    max-width: 65vw;
}
.navbar {
    border-bottom: 8px solid #000;
}
.nav-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: "AdobeCaslonProRegular";
    padding-left: 30px;
}
.nav-item .active {
    color: red;
}

.home-link {
    list-style-type: none;
}

/* homepage style */
.home .left .text {
    background: url("/download/left_column_bg.png") no-repeat;
    font-family: "AdobeCaslonProRegular";
    font-size: 17px;
    line-height: 24px;
    font-style: italic;
}
.home .right .text {
    border-top: 2px dashed #ccc;
    font-size: 17px;
    line-height: 25px;
}

/* achtergrond style */
.achtergrond-img {
    color: #ffffff;
    height: 937px;
    background: url(http://www.gysele.com/uploads/development/background_image_0.jpg)
        no-repeat;
}
.achtergrond .left .text {
    font-size: 10px;
    font-family: "AdobeCaslonProRegular";

    font-style: italic;
}
.achtergrond .right .text {
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    font-size: 17px;
    line-height: 25px;
}
/* contact style */
.contact {
    border-bottom: 2px dashed #ccc;
}
.contact p {
    font-family: "AdobeCaslonProRegular";
    font-size: 17px;
    line-height: 48px;
}
.contact p a {
    text-decoration: none;
}

/* portfolio style */
.odd {
    background: url("http://www.gysele.com/uploads/development/projects_menu_image_2.jpg")
        no-repeat;
}
.even {
    background: url("http://www.gysele.com/uploads/development/projects_menu_image_3.jpg")
        no-repeat;
}
.list-group-item {
    font-size: 14px;
    font-style: italic;
}
.list-group .active {
    color: red;
}

/* footer style */
footer {
    background: url("/download/footer_bg.png");
}
footer p {
    font-size: 14px;
    color: #000000;
}
footer ul li {
    list-style-type: none;
}
footer ul li a {
    font-size: 14px;
    color: #000000;
}
